@model TaskManagement.Models.ProjectTaskModel


@using (Ajax.BeginForm("CreateTask", "Admin", new AjaxOptions { HttpMethod = "POST", OnBegin = "callAlert", OnSuccess = "ShowSuccess", OnFailure = "ShowFailure" }))
{

    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                Create a New Task
            </div>
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <td class="control-label">Task Title</td>
                        <td>
                            @Html.TextBoxFor(a => a.Label, new { @class = "form-control" })
                            <span>@Html.ValidationMessageFor(m => m.Label, "", new { @class = "text-danger" })</span>
                        </td>

                    <tr>
                        <td class="control-label">Project</td>
                        <td>
                            @Html.DropDownListFor(a => a.ProjectId, Model.Projects, "Select Project",new { @class="form-control"})
                            <span>@Html.ValidationMessageFor(m => m.ProjectId, "", new { @class = "text-danger" })</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="control-label">Priority</td>
                        <td>
                            @Html.DropDownListFor(a => a.PriorityStatusId, Model.Priorities, "Select Priority", new { @class = "form-control" })
                            <span>@Html.ValidationMessageFor(m => m.PriorityStatusId, "", new { @class = "text-danger" })</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button class="btn btn-primary" type="submit" id="btnCreateNewProject">Create Task</button>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="panel-footer">

            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/custom")
}

